<p id="notice"><%= notice %></p>

<style type="text/css">
<!--
body {
padding-top:150px;
}
-->
</style>

<span id="top">
<!-- サーバント番号の最高値を入れる -->
<% num=197 %>
<!-- 霊器一覧に載っていないサーバントの番号 -->
<% rm1=83 %><% rm2=149 %><% rm3=151 %><% rm4=152 %><% rm5=168 %>
<%= params[:selected] %>
<% select = Array.new %>

<% if params[:selected] != ""%>
  <% p = params[:selected] %>
  <% select << p.to_i %>
<% end %>

<!-- ヘッダー -->
<span id="header">
  <div class="sub"><span class="blue">Sub</span> Member</div>
  <form action="../battle/home" name="to_battle" method="get" onsubmit="get_variable()">
    <input id="abc" type="hidden" name="select" value="" >
    <input type="submit" value="クエスト開始" >
  </form>
</span>
<span id="topheader">
    <div class="starting"><span class="red">Starting</span> Member</div>
</span>

<h1>サーヴァント選択</h1>
<h2 id="anchor1">セイバー</h2>
<% @servants.each do |servant| %>
  <% if servant.class_id == 1 %>
    <span class="image">
    <%= image_tag "servants/#{servant.servant_id}.png", :id => "#{servant.servant_id}", :width => "80px",:height => "80px", :class => "f"+"#{servant.rare}" %>
    <%= image_tag "servants/#{servant.servant_id}.png", :id => "-#{servant.servant_id}", :width => '80px',:height => "80px", :class => "f"+"#{servant.rare} support"%>
  </span>
  <% end %>
<% end %>
<h2 id="anchor2">アーチャー</h2>
<% @servants.each do |servant| %>
  <% if servant.class_id == 2 %>
    <span class="image">
    <%= image_tag "servants/#{servant.servant_id}.png", :id => "#{servant.servant_id}", :size => '80x80', :class => "f#{servant.rare}" %>
    <%= image_tag "servants/#{servant.servant_id}.png", :id => "-#{servant.servant_id}", :size => '80x80', :class => "f#{servant.rare} support" %>
    </span>
  <% end %>
<% end %>
<h2 id="anchor3">ランサー</h2>
<% @servants.each do |servant| %>
  <% if servant.class_id == 3 %>
    <span class="image">
    <%= image_tag "servants/#{servant.servant_id}.png", :id => "#{servant.servant_id}", :size => '80x80', :class => "f#{servant.rare}"  %>
    <%= image_tag "servants/#{servant.servant_id}.png", :id => "-#{servant.servant_id}", :size => '80x80', :class => "f#{servant.rare} support" %>
    </span>
  <% end %>
<% end %>
<h2 id="anchor4">ライダー</h2>
<% @servants.each do |servant| %>
  <% if servant.class_id == 4 %>
    <span class="image">
    <%= image_tag "servants/#{servant.servant_id}.png", :id => "#{servant.servant_id}", :size => '80x80', :class => "f#{servant.rare}"  %>
    <%= image_tag "servants/#{servant.servant_id}.png", :id => "-#{servant.servant_id}", :size => '80x80', :class => "f#{servant.rare} support" %>
    </span>
  <% end %>
<% end %>
<h2 id="anchor5">アサシン</h2>
<% @servants.each do |servant| %>
  <% if servant.class_id == 5 %>
    <span class="image">
    <%= image_tag "servants/#{servant.servant_id}.png", :id => "#{servant.servant_id}", :size => '80x80', :class => "f#{servant.rare}"  %>
    <%= image_tag "servants/#{servant.servant_id}.png", :id => "-#{servant.servant_id}", :size => '80x80', :class => "f#{servant.rare} support" %>
    </span>
  <% end %>
<% end %>
<h2 id="anchor6">キャスター</h2>
<% @servants.each do |servant| %>
  <% if servant.class_id == 6 %>
    <span class="image">
    <%= image_tag "servants/#{servant.servant_id}.png", :id => "#{servant.servant_id}", :size => '80x80', :class => "f#{servant.rare}"  %>
    <%= image_tag "servants/#{servant.servant_id}.png", :id => "-#{servant.servant_id}", :size => '80x80', :class => "f#{servant.rare} support" %>
    </span>
  <% end %>
<% end %>
<h2 id="anchor7">バーサーカー</h2>
<% @servants.each do |servant| %>
  <% if servant.class_id == 7 %>
    <span class="image">
    <%= image_tag "servants/#{servant.servant_id}.png", :id => "#{servant.servant_id}", :size => '80x80', :class => "f#{servant.rare}"  %>
    <%= image_tag "servants/#{servant.servant_id}.png", :id => "-#{servant.servant_id}", :size => '80x80', :class => "f#{servant.rare} support" %>
    </span>
  <% end %>
<% end %>
<h2 id="anchor8">シールダー</h2>
<% @servants.each do |servant| %>
  <% if servant.class_id == 8 %>
    <span class="image">
    <%= image_tag "servants/#{servant.servant_id}.png", :id => "#{servant.servant_id}", :size => '80x80', :class => "f#{servant.rare}"  %>
    <%= image_tag "servants/#{servant.servant_id}.png", :id => "-#{servant.servant_id}", :size => '80x80', :class => "f#{servant.rare} support" %>
    </span>
  <% end %>
<% end %>
<h2 id="anchor9">ルーラー</h2>
<% @servants.each do |servant| %>
  <% if servant.class_id == 9 %>
    <span class="image">
    <%= image_tag "servants/#{servant.servant_id}.png", :id => "#{servant.servant_id}", :size => '80x80', :class => "f#{servant.rare}"  %>
    <%= image_tag "servants/#{servant.servant_id}.png", :id => "-#{servant.servant_id}", :size => '80x80', :class => "f#{servant.rare} support" %>
    </span>
  <% end %>
<% end %>
<h2 id="anchor10">アヴェンジャー</h2>
<% @servants.each do |servant| %>
  <% if servant.class_id == 10 %>
    <span class="image">
    <%= image_tag "servants/#{servant.servant_id}.png", :id => "#{servant.servant_id}", :size => '80x80', :class => "f#{servant.rare}"  %>
    <%= image_tag "servants/#{servant.servant_id}.png", :id => "-#{servant.servant_id}", :size => '80x80', :class => "f#{servant.rare} support" %>
    </span>
  <% end %>
<% end %>
<h2 id="anchor11">ムーンキャンサー</h2>
<% @servants.each do |servant| %>
  <% if servant.class_id == 11 %>
    <span class="image">
    <%= image_tag "servants/#{servant.servant_id}.png", :id => "#{servant.servant_id}", :size => '80x80', :class => "f#{servant.rare}"  %>
    <%= image_tag "servants/#{servant.servant_id}.png", :id => "-#{servant.servant_id}", :size => '80x80', :class => "f#{servant.rare} support" %>
    </span>
  <% end %>
<% end %>
<h2 id="anchor12">アルターエゴ</h2>
<% @servants.each do |servant| %>
  <% if servant.class_id == 12 %>
    <span class="image">
    <%= image_tag "servants/#{servant.servant_id}.png", :id => "#{servant.servant_id}", :size => '80x80', :class => "f#{servant.rare}"  %>
    <%= image_tag "servants/#{servant.servant_id}.png", :id => "-#{servant.servant_id}", :size => '80x80', :class => "f#{servant.rare} support" %>
    </span>
  <% end %>
<% end %>
<h2 id="anchor13">フォーリナー</h2>
<% @servants.each do |servant| %>
  <% if servant.class_id == 13 %>
    <span class="image">
    <%= image_tag "servants/#{servant.servant_id}.png", :id => "#{servant.servant_id}", :size => '80x80', :class => "f#{servant.rare}"  %>
    <%= image_tag "servants/#{servant.servant_id}.png", :id => "-#{servant.servant_id}", :size => '80x80', :class => "f#{servant.rare} support" %>
    </span>
  <% end %>
<% end %>
</span>

<span id="footer">
<a href="#anchor1"><%=image_tag "class/class_1.png", :size => "40x40" %></a><a href="#anchor2"><%=image_tag "class/class_2.png", :size => "40x40" %></a><a href="#anchor3"><%=image_tag "class/class_3.png", :size => "40x40" %></a><a href="#anchor4"><%=image_tag "class/class_4.png", :size => "40x40" %></a><a href="#anchor5"><%=image_tag "class/class_5.png", :size => "40x40" %></a><a href="#anchor6"><%=image_tag "class/class_6.png", :size => "40x40" %></a><a href="#anchor7"><%=image_tag "class/class_7.png", :size => "40x40" %></a><a href="#anchor8"><%=image_tag "class/class_8.png", :size => "40x40" %></a><a href="#anchor9"><%=image_tag "class/class_9.png", :size => "40x40" %></a><a href="#anchor10"><%=image_tag "class/class_10.png", :size => "40x40" %></a><a href="#anchor11"><%=image_tag "class/class_11.png", :size => "40x40" %></a><a href="#anchor12"><%=image_tag "class/class_12.png", :size => "40x40" %></a><a href="#anchor13"><%=image_tag "class/class_13.png", :size => "40x40" %></a>
</span>

