<span id="battle">
<span class="turn0" class="now"></span>
<span class="turn1"></span>
<span class="turn2"></span>
<span class="next">next</span>
<style type="text/css">
<!--
body {
padding-top:80px;
}
-->
</style>
<span class="reset">reset</span>
<% s = params[:select].split(",")%>
<% tugi = 4 %>
<% no1 = Servant.find_by(servant_id: s[0].to_i) %>
<% no2 = Servant.find_by(servant_id: s[1].to_i) %>
<% no3 = Servant.find_by(servant_id: s[2].to_i) %>
<% no4 = Servant.find_by(servant_id: s[3].to_i) %>
<% no5 = Servant.find_by(servant_id: s[4].to_i) %>
<% no6 = Servant.find_by(servant_id: s[5].to_i) %>
<% np = Np.find_by(servant_id: no1.servant_id)%>
<br>

<ul class="foo">
<li>
<% for num in 0..4 do %>
  <% if no1.command[num%5] == "Q"%>
    <%= image_tag "command/quick.jpg", :size=> '80x80',:class => 'command',:id => num %>
  <% end %>
  <% if no1.command[num%5] == "A"%>
    <%= image_tag "command/arts.jpg", :size=> '80x80',:class => 'command',:id => num %>
  <% end %>
  <% if no1.command[num%5] == "B"%>
    <%= image_tag "command/buster.jpg", :size=> '80x80',:class => 'command',:id => num %>
  <% end %>
<% end %>
<br>
<%= image_tag "servants/#{no1.servant_id}.png", :size=> '80x80', :class => "text2" %>
<p class="fukidashi2">
<%= np.name %>   <%=np.rank%><br>
[宝具レベルに依存] <%=np.explain1%> <%=np.data11%> , <%=np.data12%> , <%=np.data13%> , <%=np.data14%> , <%=np.data15%><br>
[OCに依存]<%=np.explain2%> <%=np.data21%> , <%=np.data22%> , <%=np.data23%> , <%=np.data24%> , <%=np.data25%>
<br><%=np.explain3%> <%=np.data3%>
</p>
<%= image_tag "class/class_#{no1.class_id}.png", :size=> '40x40' %>
<% cskill = Classskill.where(servant_id: no1.servant_id) %>
<div class="box">
<% cskill.each do |classskill| %>
  <p class="text"><%= image_tag "classskill_icon/#{classskill.icon_id}", :size=> '40x40' %></p>
  <p class="fukidashi"><%= classskill.name %>:<%= classskill.explain %></p>
<% end %>
</div>
<% npget = Npget.find_by(servant_id: no1.servant_id) %>
<table id="cal">
<tr>
<td rowspan="3" bgcolor="#3498db" id="<%=npget.a1%>"><%= npget.a1 %></td>
<td bgcolor="#3498db" id="<%=npget.a2p%>"><%= npget.a2p %></td><td bgcolor="#3498db" id="<%=npget.a3p%>"><%= npget.a3p %></td>
</tr>
<tr>
<td bgcolor="#2ecc71" id="<%=npget.q2p%>"><%= npget.q2p %></td><td bgcolor="#2ecc71" id="<%=npget.q3p%>"><%= npget.q3p %></td>
</tr>
<tr>
<td bgcolor="#e74c3c" id="<%=npget.bp%>"><%= npget.bp %></td><td bgcolor="#e74c3c" id="<%=npget.bp%>"><%= npget.bp %></td>
</tr>
<tr>
<td bgcolor="#2ecc71" id="<%=npget.q1%>"><%= npget.q1 %></td><td bgcolor="#2ecc71" id="<%=npget.q2%>"><%= npget.q2 %></td><td bgcolor="#2ecc71" id="<%=npget.q3%>"><%= npget.q3 %></td>
</tr>
<tr>
<td bgcolor="#ecf0f1" id="0">b or q</td><td bgcolor="#3498db" id="<%=npget.a2%>"><%= npget.a2 %></td><td bgcolor="#3498db" id="<%=npget.a3%>"><%= npget.a3 %></td>
</tr>
</table>
合計獲得NP : <span id="np_sum"></span>
<br><br>
<%= no1.name %><span class="dead">dead</span>
</li>
<li>
<% for num in 5..9 do %>
  <% if no2.command[num%5] == "Q"%>
    <%= image_tag "command/quick.jpg", :size=> '80x80',:class => 'command',:id => num %>
  <% end %>
  <% if no2.command[num%5] == "A"%>
    <%= image_tag "command/arts.jpg", :size=> '80x80',:class => 'command',:id => num %>
  <% end %>
  <% if no2.command[num%5] == "B"%>
    <%= image_tag "command/buster.jpg", :size=> '80x80',:class => 'command',:id => num %>
  <% end %>
<% end %>
<%= image_tag "class/class_#{no2.class_id}.png", :size=> '40x40' %>
<%= no2.name %>
</li>
<li>
<% for num in 10..14 do %>
  <% if no3.command[num%5] == "Q"%>
    <%= image_tag "command/quick.jpg", :size=> '80x80',:class => 'command',:id => num %>
  <% end %>
  <% if no3.command[num%5] == "A"%>
    <%= image_tag "command/arts.jpg", :size=> '80x80',:class => 'command',:id => num %>
  <% end %>
  <% if no3.command[num%5] == "B"%>
    <%= image_tag "command/buster.jpg", :size=> '80x80',:class => 'command',:id => num %> 
  <% end %>
<% end %>
<%= image_tag "class/class_#{no3.class_id}.png", :size=> '40x40' %>
<%= no3.name %>
</li>
</ul>
<br>
<br>
next
<%= image_tag "servants/#{no4.servant_id}.png", :size=> '40x40' %>
<%= image_tag "servants/#{no5.servant_id}.png", :size=> '40x40' %>
<%= image_tag "servants/#{no6.servant_id}.png", :size=> '40x40' %>


</span>
