<p id="notice"><%= notice %></p>

<p>
  <strong>Class:</strong>
  <%= @s_class.class_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @s_class.name %>
</p>

<%= link_to 'Edit', edit_s_class_path(@s_class) %> |
<%= link_to 'Back', s_classes_path %>
